/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/ObjectDetectionAPIMarker.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/*
/.idea
